template.yaml
# CMSC 471 Final Project SAM template.
# This template defines the serverless AWS resources for the Yellow Sign Diner app.
# The stack includes API Gateway, Lambda, S3, Step Functions, DynamoDB, and CloudWatch logs.

Transform: AWS::Serverless-2016-10-31
Description: CMSC 471 Hello World SAM app

# Parameters allow values to be reused throughout the template.
# LabRoleArn is the AWS Learner Lab role used by the Lambda functions and Step Functions.
Parameters:
  LabRoleArn:
    Type: String
    Description: The ARN of the LabRole AWS Learner Lab
    Default: arn:aws:iam::738157269385:role/LabRole

# API Gateway is the public entry point for the web app.
# It routes browser requests to the correct Lambda function.
# Routes include health checks, inbox actions, job submission, job polling, and records management.
Resources:
  Api:
    Type: AWS::Serverless::Api
    Properties:
      Name: !Sub
        - ${ResourceName} From Stack ${AWS::StackName}
        - ResourceName: Api
      StageName: Prod
      EndpointConfiguration: REGIONAL
      TracingEnabled: true

# HealthFunction powers GET /api/health.
# The frontend uses this endpoint to confirm the backend is online.
  HealthFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description: !Sub
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: HealthFunction
      CodeUri: health_service
      Handler: handler.handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment: {}
      Events:
        ApiGET:
          Type: Api
          Properties:
            Path: /api/health
            Method: GET
            RestApiId: !Ref Api

#CloudWatch log group for HealthFunction.
# Logs are retained for 7 days to support debugging while controlling log storage cost.
  HealthFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${HealthFunction}
      RetentionInDays: 7

#Frontend S3 bucket.
# This bucket stores the static index.html file for the Yellow Sign Diner dashboard.
# Public access is blocked, and the Lambda proxy reads the file for the root route.
  Bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: alias/aws/s3
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

#Bucket policy for the frontend bucket.
# This denies insecure HTTP transport and requires encrypted HTTPS access.
  BucketBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref Bucket
      PolicyDocument:
        Id: RequireEncryptionInTransit
        Version: '2012-10-17'
        Statement:
          - Sid: DenyInsecureTransport
            Principal: '*'
            Action: s3:*
            Effect: Deny
            Resource:
              - !GetAtt Bucket.Arn
              - !Sub ${Bucket.Arn}/*
            Condition:
              Bool:
                aws:SecureTransport: 'false'

#StaticProxyFunction powers GET /.
# It fetches index.html from the frontend S3 bucket and returns the web dashboard to the browser.
  StaticProxyFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description: !Sub
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: StaticProxyFunction
      CodeUri: health_service/src/proxy
      Handler: proxy.proxy_handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          BUCKET_BUCKET_NAME: !Ref Bucket
          BUCKET_BUCKET_ARN: !GetAtt Bucket.Arn
      Events:
        ApiGET:
          Type: Api
          Properties:
            Path: /
            Method: GET
            RestApiId: !Ref Api

#CloudWatch log group for StaticProxyFunction.
# Used to debug frontend loading through the root API route.
  StaticProxyFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${StaticProxyFunction}
      RetentionInDays: 7

#InboxBucket stores uploaded image files before processing.
# CORS allows the browser to upload files with presigned URLs.
# Public access is blocked and server-side encryption is enabled.
  InboxBucket:
    Type: AWS::S3::Bucket
    Properties:
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders:
              - '*'
            AllowedMethods:
              - GET
              - PUT
              - POST
              - DELETE
            AllowedOrigins:
              - '*'
            ExposedHeaders:
              - ETag
            MaxAge: 300
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: alias/aws/s3
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

#Bucket policy for InboxBucket.
# This requires secure HTTPS transport for uploaded image objects.
  InboxBucketBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref InboxBucket
      PolicyDocument:
        Id: RequireEncryptionInTransit
        Version: '2012-10-17'
        Statement:
          - Sid: DenyInsecureTransport
            Principal: '*'
            Action: s3:*
            Effect: Deny
            Resource:
              - !GetAtt InboxBucket.Arn
              - !Sub ${InboxBucket.Arn}/*
            Condition:
              Bool:
                aws:SecureTransport: 'false'

#LInbox manages uploaded files in the inbox bucket.
# It supports listing files, creating presigned upload URLs, and deleting inbox objects.
# Routes: GET /api/inbox, POST /api/inbox, DELETE /api/inbox/{key}.
  LInbox:
    Type: AWS::Serverless::Function
    Properties:
      Description: !Sub
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: LInbox
      CodeUri: src/inbox
      Handler: handler.handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          INBOX_BUCKET_NAME: !Ref InboxBucket
      Events:
        ApiGETInbox:
          Type: Api
          Properties:
            Path: /api/inbox
            Method: GET
            RestApiId: !Ref Api
        ApiPOSTInbox:
          Type: Api
          Properties:
            Path: /api/inbox
            Method: POST
            RestApiId: !Ref Api
        ApiDELETEInbox:
          Type: Api
          Properties:
            Path: /api/inbox/{key}
            Method: DELETE
            RestApiId: !Ref Api

#CloudWatch log group for LInbox.
# Used for troubleshooting upload, list, and delete actions.
  LInboxLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${LInbox}
      RetentionInDays: 7

#LSubmit starts an asynchronous image-processing job.
# It creates a job record in JobsTable and starts the Step Functions state machine.
# Route: POST /api/jobs.
  LSubmit:
    Type: AWS::Serverless::Function
    Properties:
      Description: !Sub
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: LSubmit
      CodeUri: src/lsubmit
      Handler: handler.handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE: !Ref JobsTable
          STATE_MACHINE_ARN: !Ref StateMachine
      Events:
        SubmitApi:
          Type: Api
          Properties:
            Path: /api/jobs
            Method: POST
            RestApiId: !Ref Api

#CloudWatch log group for LSubmit.
# Used to debug job creation and Step Functions startExecution calls.
  LSubmitLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${LSubmit}
      RetentionInDays: 7

#JobsTable stores asynchronous job status and metadata.
# The frontend polls this table through LPoll to check RUNNING, PROCESSING, SUCCEEDED, or FAILED status.
# The partition key is jobId.
  JobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
        - AttributeName: jobId
          AttributeType: S
      BillingMode: PAY_PER_REQUEST
      KeySchema:
        - AttributeName: jobId
          KeyType: HASH
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES

#L1Fetch is the first Step Functions task.
# It receives the selected filename and passes the inbox bucket and file information to the workflow.
  L1Fetch:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/statemachine
      Handler: l1fetch.handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          BUCKET: !Ref InboxBucket

#CloudWatch log group for L1Fetch.
  L1FetchLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${L1Fetch}
      RetentionInDays: 7

#L2Call is the Textract processing step.
# It sends the uploaded S3 image to Amazon Textract and returns detected text items.
# It also updates JobsTable with processing progress.
  L2Call:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/statemachine
      Handler: l2call.handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE: !Ref JobsTable

#CloudWatch log group for L2Call.
# Used to troubleshoot Textract calls and unsupported image errors.
  L2CallLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${L2Call}
      RetentionInDays: 7

#L3Save is the final processing step.
# It saves extracted Textract items into RecordsTable and marks the job as SUCCEEDED in JobsTable.
  L3Save:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: src/statemachine
      Handler: l3save.handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE: !Ref JobsTable
          RECORDS_TABLE: !Ref RecordsTable

#CloudWatch log group for L3Save.
# Used to verify extracted records were saved successfully.
  L3SaveLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${L3Save}
      RetentionInDays: 7

#StateMachine orchestrates the image-processing workflow.
# It runs L1Fetch, L2Call, and L3Save in order.
# This separates the long-running image-processing flow from the frontend request.
  StateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Role: !Ref LabRoleArn
      Definition:
        Comment: Shopping list image processing pipeline
        StartAt: FetchImage
        States:
          FetchImage:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${L1FetchArn}
              Payload.$: $
            ResultSelector:
              jobId.$: $.Payload.jobId
              filename.$: $.Payload.filename
              bucket.$: $.Payload.bucket
            Next: CallTextract

          CallTextract:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${L2CallArn}
              Payload.$: $
            ResultSelector:
              jobId.$: $.Payload.jobId
              filename.$: $.Payload.filename
              bucket.$: $.Payload.bucket
              items.$: $.Payload.items
            Next: SaveResults

          SaveResults:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${L3SaveArn}
              Payload.$: $
            ResultSelector:
              jobId.$: $.Payload.jobId
              rowCount.$: $.Payload.rowCount
            End: true
      Logging:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StateMachineLogGroup.Arn
      Tracing:
        Enabled: true
      Type: STANDARD
      DefinitionSubstitutions:
        L1FetchArn: !GetAtt L1Fetch.Arn
        L2CallArn: !GetAtt L2Call.Arn
        L3SaveArn: !GetAtt L3Save.Arn

#CloudWatch log group for the Step Functions state machine.
# Execution logging is enabled so workflow progress and failures can be reviewed.
  StateMachineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub
        - /aws/vendedlogs/states/${AWS::StackName}-${ResourceId}-Logs
        - ResourceId: StateMachine
      RetentionInDays: 7

#LPoll returns the current status of a processing job.
# The frontend calls this route repeatedly after clicking Process.
# Route: GET /api/jobs/{jobId}.
  LPoll:
    Type: AWS::Serverless::Function
    Properties:
      Description: !Sub
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: LPoll
      CodeUri: src/lpoll
      Handler: lpoll.handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE: !Ref JobsTable
      Events:
        ApiGETPoll:
          Type: Api
          Properties:
            Path: /api/jobs/{jobId}
            Method: GET
            RestApiId: !Ref Api

#CloudWatch log group for LPoll.
# Used to debug job status polling.
  LPollLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${LPoll}
      RetentionInDays: 7

#RecordsTable stores final text records extracted from uploaded images.
# Each item uses id as the primary key and stores the detected text plus timestamp information.
  RecordsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
      BillingMode: PAY_PER_REQUEST
      KeySchema:
        - AttributeName: id
          KeyType: HASH

#LRecords powers the Records panel in the frontend.
# It loads saved records from RecordsTable and deletes individual records.
# Routes: GET /api/records and DELETE /api/records/{id}.
  LRecords:
    Type: AWS::Serverless::Function
    Properties:
      Description: Records API for saved shopping list items
      CodeUri: src/lrecords
      Handler: lrecords.handler
      Runtime: python3.13
      Role: !Ref LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          RECORDS_TABLE: !Ref RecordsTable
      Events:
        ApiGETRecords:
          Type: Api
          Properties:
            Path: /api/records
            Method: GET
            RestApiId: !Ref Api
        ApiDELETERecord:
          Type: Api
          Properties:
            Path: /api/records/{id}
            Method: DELETE
            RestApiId: !Ref Api

#CloudWatch log group for LRecords.
# Used to debug record loading and record deletion.
  LRecordsLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName: !Sub /aws/lambda/${LRecords}
      RetentionInDays: 7

#Outputs print useful deployment information after the stack is deployed.
# These include the API URL, frontend bucket name, upload command, teardown command, and stack delete command.
Outputs:
  HelloWorldApi:
    Description: API Gateway endpoint URL for Prod
    Value: !Sub https://${Api}.execute-api.${AWS::Region}.amazonaws.com/Prod/

  FrontendBucketName:
    Description: S3 bucket name holding our index.html
    Value: !Ref Bucket

  FrontendDeployCommand:
    Description: Run this command to deploy index.html to S3 bucket
    Value: !Sub aws s3 cp .\wwwroot\index.html s3://${Bucket}/index.html

  FrontendTeardownCommand:
    Description: Run this command to remove index.html from S3 bucket
    Value: !Sub aws s3 rm s3://${Bucket}/index.html

  RemoveStackCommand:
    Description: Run this command to remove this stack
    Value: !Sub aws cloudformation delete-stack --stack-name ${AWS::StackName}
      --region us-east-1