.aws-sam/build/template.yaml
Transform: AWS::Serverless-2016-10-31
Description: CMSC 471 Hello World SAM app
Parameters:
  LabRoleArn:
    Type: String
    Description: The ARN of the LabRole AWS Learner Lab
    Default: arn:aws:iam::738157269385:role/LabRole
Resources:
  Api:
    Type: AWS::Serverless::Api
    Properties:
      Name:
        Fn::Sub:
        - ${ResourceName} From Stack ${AWS::StackName}
        - ResourceName: Api
      StageName: Prod
      EndpointConfiguration: REGIONAL
      TracingEnabled: true
  HealthFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: HealthFunction
      CodeUri: HealthFunction
      Handler: handler.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment: {}
      Events:
        ApiGET:
          Type: Api
          Properties:
            Path: /api/health
            Method: GET
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: HealthFunction
  HealthFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${HealthFunction}
      RetentionInDays: 7
  Bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
        - ServerSideEncryptionByDefault:
            SSEAlgorithm: aws:kms
            KMSMasterKeyID: alias/aws/s3
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
  BucketBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: Bucket
      PolicyDocument:
        Id: RequireEncryptionInTransit
        Version: '2012-10-17'
        Statement:
        - Sid: DenyInsecureTransport
          Principal: '*'
          Action: s3:*
          Effect: Deny
          Resource:
          - Fn::GetAtt:
            - Bucket
            - Arn
          - Fn::Sub: ${Bucket.Arn}/*
          Condition:
            Bool:
              aws:SecureTransport: 'false'
  StaticProxyFunction:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: StaticProxyFunction
      CodeUri: StaticProxyFunction
      Handler: proxy.proxy_handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          BUCKET_BUCKET_NAME:
            Ref: Bucket
          BUCKET_BUCKET_ARN:
            Fn::GetAtt:
            - Bucket
            - Arn
      Events:
        ApiGET:
          Type: Api
          Properties:
            Path: /
            Method: GET
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: StaticProxyFunction
  StaticProxyFunctionLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${StaticProxyFunction}
      RetentionInDays: 7
  InboxBucket:
    Type: AWS::S3::Bucket
    Properties:
      CorsConfiguration:
        CorsRules:
        - AllowedHeaders:
          - '*'
          AllowedMethods:
          - GET
          - PUT
          - POST
          - DELETE
          AllowedOrigins:
          - '*'
          ExposedHeaders:
          - ETag
          MaxAge: 300
      BucketEncryption:
        ServerSideEncryptionConfiguration:
        - ServerSideEncryptionByDefault:
            SSEAlgorithm: aws:kms
            KMSMasterKeyID: alias/aws/s3
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
  InboxBucketBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Ref: InboxBucket
      PolicyDocument:
        Id: RequireEncryptionInTransit
        Version: '2012-10-17'
        Statement:
        - Sid: DenyInsecureTransport
          Principal: '*'
          Action: s3:*
          Effect: Deny
          Resource:
          - Fn::GetAtt:
            - InboxBucket
            - Arn
          - Fn::Sub: ${InboxBucket.Arn}/*
          Condition:
            Bool:
              aws:SecureTransport: 'false'
  LInbox:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: LInbox
      CodeUri: LInbox
      Handler: handler.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          INBOX_BUCKET_NAME:
            Ref: InboxBucket
      Events:
        ApiGETInbox:
          Type: Api
          Properties:
            Path: /api/inbox
            Method: GET
            RestApiId:
              Ref: Api
        ApiPOSTInbox:
          Type: Api
          Properties:
            Path: /api/inbox
            Method: POST
            RestApiId:
              Ref: Api
        ApiDELETEInbox:
          Type: Api
          Properties:
            Path: /api/inbox/{key}
            Method: DELETE
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: LInbox
  LInboxLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${LInbox}
      RetentionInDays: 7
  LSubmit:
    Type: AWS::Serverless::Function
    Properties:
      Description:
        Fn::Sub:
        - Stack ${AWS::StackName} Function ${ResourceName}
        - ResourceName: LSubmit
      CodeUri: LSubmit
      Handler: handler.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE:
            Ref: JobsTable
          STATE_MACHINE_ARN:
            Ref: StateMachine
      Events:
        SubmitApi:
          Type: Api
          Properties:
            Path: /api/jobs
            Method: POST
            RestApiId:
              Ref: Api
    Metadata:
      SamResourceId: LSubmit
  LSubmitLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${LSubmit}
      RetentionInDays: 7
  JobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
      - AttributeName: jobId
        AttributeType: S
      BillingMode: PAY_PER_REQUEST
      KeySchema:
      - AttributeName: jobId
        KeyType: HASH
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES
  L1Fetch:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: L1Fetch
      Handler: l1fetch.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          BUCKET:
            Ref: InboxBucket
    Metadata:
      SamResourceId: L1Fetch
  L1FetchLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${L1Fetch}
      RetentionInDays: 7
  L2Call:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: L2Call
      Handler: l2call.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE:
            Ref: JobsTable
    Metadata:
      SamResourceId: L2Call
  L2CallLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${L2Call}
      RetentionInDays: 7
  L3Save:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: L3Save
      Handler: l3save.handler
      Runtime: python3.13
      Role:
        Ref: LabRoleArn
      MemorySize: 3008
      Timeout: 30
      Tracing: Active
      Environment:
        Variables:
          JOB_TABLE:
            Ref: JobsTable
    Metadata:
      SamResourceId: L3Save
  L3SaveLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    UpdateReplacePolicy: Delete
    Properties:
      LogGroupName:
        Fn::Sub: /aws/lambda/${L3Save}
      RetentionInDays: 7
  StateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Role:
        Ref: LabRoleArn
      Definition:
        Comment: Shopping list image processing pipeline
        StartAt: FetchImage
        States:
          FetchImage:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${L1FetchArn}
              Payload.$: $
            ResultSelector:
              jobId.$: $.Payload.jobId
              filename.$: $.Payload.filename
              bucket.$: $.Payload.bucket
            Next: CallTextract
          CallTextract:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${L2CallArn}
              Payload.$: $
            ResultSelector:
              jobId.$: $.Payload.jobId
              filename.$: $.Payload.filename
              bucket.$: $.Payload.bucket
              items.$: $.Payload.items
            Next: SaveResults
          SaveResults:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: ${L3SaveArn}
              Payload.$: $
            ResultSelector:
              jobId.$: $.Payload.jobId
              rowCount.$: $.Payload.rowCount
            End: true
      Logging:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
        - CloudWatchLogsLogGroup:
            LogGroupArn:
              Fn::GetAtt:
              - StateMachineLogGroup
              - Arn
      Tracing:
        Enabled: true
      Type: STANDARD
      DefinitionSubstitutions:
        L1FetchArn:
          Fn::GetAtt:
          - L1Fetch
          - Arn
        L2CallArn:
          Fn::GetAtt:
          - L2Call
          - Arn
        L3SaveArn:
          Fn::GetAtt:
          - L3Save
          - Arn
  StateMachineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName:
        Fn::Sub:
        - /aws/vendedlogs/states/${AWS::StackName}-${ResourceId}-Logs
        - ResourceId: StateMachine
      RetentionInDays: 7
Outputs:
  HelloWorldApi:
    Description: API Gateway endpoint URL for Prod
    Value:
      Fn::Sub: https://${Api}.execute-api.${AWS::Region}.amazonaws.com/Prod/
  FrontendBucketName:
    Description: S3 bucket name holding our index.html
    Value:
      Ref: Bucket
  FrontendDeployCommand:
    Description: Run this command to deploy index.html to S3 bucket
    Value:
      Fn::Sub: aws s3 cp .\wwwroot\index.html s3://${Bucket}/index.html
  FrontendTeardownCommand:
    Description: Run this command to remove index.html from S3 bucket
    Value:
      Fn::Sub: aws s3 rm s3://${Bucket}/index.html
  RemoveStackCommand:
    Description: Run this command to remove this stack
    Value:
      Fn::Sub: aws cloudformation delete-stack --stack-name ${AWS::StackName} --region
        us-east-1
